[submodule "TE3001B_Intelligent_Robotics_Implementation_2026"]
	path = TE3001B_Intelligent_Robotics_Implementation_2026
	url = https://github.com/ManchesterRoboticsLtd/TE3001B_Intelligent_Robotics_Implementation_2026.git
